/* Layout #24
   Thanks http://blog.html.it/layoutgala/ 
   Only contains layout of the page. Styling goes in BrowserMap.css
*/

div#container{
	min-width : 600px; 
	min-height: 400px;
}

div#wrapper{
 float:left;
 width:100%;
}
div#content{
 margin-right:210px;
}
div#navigation{
 float:left;
 width:200px;
 margin-left:-200px;
}
