/* global skin ------------------------------------------------------------- */
@import url(chrome://global/skin/);

/* local skin ------------------------------------------------------------- */
.label_step{
 font-weight: bold;
 font-size: 13;
 color: #C33;
 display: inline;
}

th{
	font-style:bold;
	border-style: inset outset inset outset;
	padding:  0px 6px 0px 6px;
}