
.marker_label{
	text-transform: uppercase;
}

.marker_popup_table{
}

.marker_popup_caption{
	
}

.marker_popup_tbody{
	overflow: auto; 
	max-height: 200px;	
}

.marker_popup_labelcol{
}

.marker_popup_datacol{

}
.marker_popup_th{
	white-space: 	nowrap;
	font-size: 		small;
	font-weight:	bold;
	text-transform: capitalize;
	text-align: 	right;
	background-color: #eee;
	color:			#C33;
}
